<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Trips</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Edit <%= trip.title %> Trip!</h1>

    <div class="forms">
    <form action="/trip/<%= trip._id %>/?_method=PUT" method="post">

        <label for="title">Trip Title:</label>
        <input type="text" name="title" id="title" value="<%= trip.title %>">

        <label for="startDate">Trip Start Date:</label>
        <input type="date" name="startDate" id="startDate" value="<%= trip.startDate.toISOString().substring(0, 10) %>">

        <label for="endDate">Trip End Date:</label>
        <input type="date" name="endDate" id="endDate" value="<%= trip.endDate.toISOString().substring(0, 10) %>"> 

        <label for="photo">Photo:</label>
        <input type="text" name="photo" id="photo" value="<%= trip.photo %>">

        <button type="submit" class="btnSubmit">Edit Trip</button>
    </form>
    </div>
</body>
</html>