<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip-Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1><%= trip.title %> Details</h1>
    <p>Trip Start Date: <%= trip.startDate.toDateString() %></p>
    <p>Trip End Date: <%= trip.endDate.toDateString() %></p>
    <p>Photos: <%= trip.photo %></p>

    <a href="/trip/<%= trip._id %>/edit">Edit Trip</a>
    <form action="/trip/<%= trip._id %>/?_method=DELETE" method="post">
        <button type="submit">Delete Trip</button>
    </form>

    <a href="/trip/<%= trip._id %>/booking">Show Bookings</a>
</body>
</html>