<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Destinations</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('../partials/navbar')%>
    <h1>All Destinations</h1>
    <% for(let oneDestination of destinations) { %>
        <p>Trip: <%= oneDestination.trip.title %> </p>
        <p>Destination: <%= oneDestination.country %>, <%= oneDestination.city %></p>
    <a href="/destination/<%= oneDestination._id %>/edit">Edit Destination</a>
    <% } %>
</body>
</html>