<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Destination</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('../partials/navbar')%>
    <div class="backLink">
        <a href="/destination" class="aBack">> Back</a>
    </div>
    
    <h1>Edit Destination</h1>

    <div class="forms">
    <form action="/destination/<%= destination._id %>/?_method=PUT" method="post">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country" value="<%= destination.country %>">

        <label for="city">City:</label>
        <input type="text" name="city" id="city" value="<%= destination.city %>">


        <button type="submit" class="btnSubmit">Update Destination</button>
    </form>

    <form action="/destination/<%= destination._id%>/?_method=DELETE" method="post">
        <button type="submit" class="btnSubmit">Delete</button>
    </form>
    </div>
    
</body>
</html>