<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Activities</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>All Activites</h1>
    <% for (let oneActivity of activities) { %>
        <p><%= oneActivity.name %></p>
        <a href="/trip/<%= currentTrip %>/activity/<%= oneActivity._id%>" class="aLink">Activity Details</a>
    <% } %>

    <a href="/trip/<%= currentTrip %>/activity/new" class="aLink">Add Activity</a>

</body>
</html>