<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Activities</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar')%>
    <div class="backLink">
        <a href="/trip/<%= currentTrip %>"  class="aBack">> Back</a>
    </div>

    <div class="showLinks">
    <a href="/trip/<%= currentTrip %>/activity/new" class="aLink">Add Activity</a>
    </div>

    <h1>All Activites</h1>
    <% if(activities.length === 0){ %>
        <p>There is no activities - Plan your first Activity!</p>
    <% } else { %>
        <div class="card-container">
        <div class="cardDisplay">
    <% for (let oneActivity of activities) { %>
        <div class="card">
        <p><%= oneActivity.name %></p>
        </div>


        <div class="editAndDelete">
        <a href="/trip/<%= currentTrip %>/activity/<%= oneActivity._id%>" class="aLink">Activity Details</a>
        </div>
    <% } %>
    <% } %>
        </div>
        </div>
</body>
</html>