<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Activity</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ('../partials/navbar')%>
    <h1>Edit Activity</h1>
    <div class="forms">
     <form action="/trip/<%= activity.trip._id %>/activity/<%= activity._id %>?_method=PUT" method="post">
        <label for="name">Activity Name</label>
        <input type="text" name="name" id="name" value="<%= activity.name %>">

        <label for="type">Activity Type:</label>
        <select name="type" id="type">
            <% for (let oneType of types) { %>
                 <option value="<%= oneType %>" <% if (activity.type === oneType) { %>
                  selected
                  <% } %>
                  ><%= oneType %>
                </option>
             <% } %>
      </select>
        <label for="dateOfActivity">Activity Date:</label>
        <input type="date" name="dateOfActivity" id="dateOfActivity" value="<%= activity.timeOfActivity.toISOString().substring(0, 10)%>">

        <label for="timeOfActivity">Activity Time:</label>
        <input type="time" name="timeOfActivity" id="timeOfActivity" value="<%= activity.timeOfActivity.toISOString().substring(11, 16)  %>">

        <label for="cost">Cost:</label>
        <input type="number" name="cost" id="cost" value="<%= activity.cost %>">

        <label for="trip">Trip</label>
        <select name="trip" id="trip">
            <% for (let oneTrip of trips){ %>
                <option value="<%= oneTrip._id %>" <% if (activity.trip._id.toString() === oneTrip._id.toString()) { %>
                    selected
                    <%}%>
                    ><%= oneTrip.title %>
            </option>
            <% } %>
        </select>

        <label for="destination">Destination</label>
        <select name="destination" id="destination">
            <% for (let oneDestination of destinations){ %>
                <option value="<%= oneDestination._id %>" <% if (activity.destination._id.toString() === oneDestination._id.toString()) { %>
                    selected
                    <%}%>
                    ><%= oneDestination.country %> <%= oneDestination.city %>
            </option>
            <% } %>
        </select>

        <button type="submit" class="btnSubmit">Update Activity</button>
    </form>
    </div>
    <a href="/trip/<%= activity.trip._id %>/activity/<%= activity._id %>" class="aLink">Back</a>
</body>
</html>