<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Activity</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar')%>
    <div class="backLink">
        <a href="/trip/<%= currentTrip %>/activity"  class="aBack">> Back</a>
    </div>
    <h1>New Activity</h1>

    <div class="forms">

    <form action="/trip/<%= currentTrip %>/activity/new" method="post">
        <label for="name">Activity Name</label>
        <input type="text" name="name" id="name">

        <label for="type">Activity Type:</label>
        <select name="type" id="type">

            <option value="Sightseeing">Sightseeing</option>
            <option value="Adventure">Adventure</option>
            <option value="Cultural">Cultural</option>
            <option value="Relaxation">Relaxation</option>
            <option value="Educational">Educational</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Dining">Dining</option>

        </select>
        <label for="dateOfActivity">Activity Date:</label>
        <input type="date" name="dateOfActivity" id="dateOfActivity">

        <label for="timeOfActivity">Activity Time:</label>
        <input type="time" name="timeOfActivity" id="timeOfActivity">

        <label for="cost">Cost  <span id="cost"> ($)</span>:</label>
        <input type="number" name="cost" id="cost">


        <label for="destination">Destination</label>
        <select name="destination" id="destination">
            <% for (let oneDestination of destinations){ %>
                <option value="<%= oneDestination._id %>" 
                    ><%= oneDestination.country %> <%= oneDestination.city %>
            </option>
            <% } %>
        </select>

        <button type="submit" class="btnSubmit">Add Activity</button>
    </form>
    </div>
</body>
</html>