<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Booking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>All bookings</h1>

    <% for(let oneBooking of bookings){ %>
        <p>Booking Type: <%= oneBooking.type %> | Booking Cost: <%= oneBooking.cost %> | Booking Date: <%= oneBooking.date.toDateString()%> | Trip:<%= oneBooking.trip.title%> | <%= oneBooking.trip.photo%></p>
    
        <a href="/trip/<%= currentTrip %>/booking/<%= oneBooking._id %>/edit" class="aLink">Edit Booking</a>
        <form action="/trip/<%= currentTrip %>/booking/<%= oneBooking._id%>/?_method=DELETE" method="post">
            <button type="submit" class="aLink">Delete Booking</button>
        </form>

    <% } %>


        <a href="/trip/<%= currentTrip %>/booking/new" class="aLink">Add Booking</a>

</body>
</html>